<div class="container" id="doc-edit">
  <div id="document-controls" role="group">
    <button class="voice doc btn btn-primary"><span class="glyphicon glyphicon-headphones"></span>  Listen to Your Doc!</button>
    <div class="save">
      <form method="PUT" action="/docs/<%= @doc.id %>">
        <!-- <input type="hidden" name="_method" value="PUT"> -->
        <input id="save-btn" class="btn btn-warning" type="submit" value="SAVE">
      </form>
    </div>
    <div class="photo">
      <% if @doc.photo %>
        <%= erb :_photo %>
      <% else %>
        <button class="add-photo btn btn-primary">Add a photo!</button>
        <form class="hidden" method="POST" action="/docs/<%= @doc.id %>/photo">
          <input type="hidden" name="_method" value="PUT">
          <input class="url" name="photo_url" type="text" placeholder="Photo URL:">
          <input class="btn btn-primary" type="submit" value="Add Your Photo">
          <button class="canceler btn btn-warning">Cancel</button>
        </form>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div id="doc-edit-area" class="well col-md-8 col-lg-8">
      <h3>Story by <%= @doc.user.first_name.capitalize %></h3>
      <h1 id="doc-title" contenteditable="true" class="text-center"><%= @doc.title %></h1>

      <div class="doc-content">
        <p contenteditable="true"><%= @doc.content %></p>
      </div>
    </div>
    <div id="word-prediction-buttons" class="new-word col-md-4 col-lg-4">
      <form role="form" class="form-inline">
        <div class="form-group">
          <input class="new-word form-control" type="text" placeholder="New Word:">
          <input type="submit" class="btn btn-primary" value="+">
          <button class="delete btn">X</button>
          <button class="voice word btn"><span class="glyphicon glyphicon-headphones"></span></button>
        </div>
      </form>
    </div>
  </div>
</div>

